Repository pattern-lab/patternlab-node, pull requests merged in 2019-11, with the labels that each got.

#1096 Fix/plugin and clean fixes
  packages/core/src/lib/buildPatterns.js
  packages/plugin-tab/dist/js/@pattern-lab-plugin-tab.js
  packages/plugin-tab/src/snippet.js
  packages/uikit-workshop/src/sass/scss/04-components/_pattern.scss
Labels: fix / refactor :construction:

#1099 UIKIt CSS Hotfix for IE 11
  packages/uikit-workshop/src/sass/scss/02-base/_body.scss
Labels: bug :bug:

#1101 UIKit Fix: Code Panel Overflow Fix for Firefox
  packages/uikit-workshop/src/sass/pattern-lab.scss
  packages/uikit-workshop/src/sass/scss/04-components/_tabs.scss
Labels: bug :bug:, uikit

#1034 Feature: Add The Ability To Hide Viewall Links
  packages/development-edition-engine-handlebars/patternlab-config.json
  packages/edition-twig/.patternlabrc.js
  packages/edition-twig/package-lock.json
  packages/edition-twig/package.json
  packages/edition-twig/patternlab-config.json
  packages/uikit-workshop/build-tools.js
  packages/uikit-workshop/build/webpack-server.js
  packages/uikit-workshop/src/scripts/components/pl-nav/get-parents.js
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.js
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.scss
  packages/uikit-workshop/src/scripts/lit-components/pl-viewport/pl-viewport.js
  packages/uikit-workshop/webpack.config.js
  yarn.lock
Labels: uikit

#1105 UIKit Polyfill Hotfix for Edge
  packages/uikit-workshop/src/scripts/patternlab-viewer.modern.js
Labels: bug :bug:, uikit
