Repository pattern-lab/patternlab-node, pull requests merged in 2019-10, with the labels that each got.

#1058 Fix: Don't Auto-flatten UIKit Navigation Folders That Only Contain 1 Item
  packages/uikit-workshop/dist/styleguide/css/pattern-lab.css
  packages/uikit-workshop/dist/styleguide/js/patternlab-pattern.js
  packages/uikit-workshop/dist/styleguide/js/patternlab-viewer.js
  packages/uikit-workshop/dist/styleguide/js/pl-modal-viewer-chunk-0634ccab5a0ead34e762.js
  packages/uikit-workshop/dist/styleguide/js/pl-modal-viewer-chunk-4accd26910de49d733e5.js
  packages/uikit-workshop/dist/styleguide/js/pl-modal-viewer-chunk-b976697068c9e62526f7.js
  packages/uikit-workshop/dist/styleguide/js/vendors-chunk-293d3e32578ff722034c.js
  packages/uikit-workshop/dist/styleguide/js/vendors-chunk-9464cbd6da08f5397b83.js
  packages/uikit-workshop/dist/styleguide/js/vendors-chunk-a9dc0adf95bb3f940ee8.js
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.js
Labels: fix / refactor :construction:, uikit

#1046 fix(engine_twig_php): Pseudo patterns Twig PHP
  packages/engine-twig-php/lib/engine_twig_php.js
Labels: bug :bug:, twig renderer

#1075 Fix: Restore Lineage Link “Click Functionality”
  .github/FUNDING.yml
  packages/uikit-workshop/dist/styleguide/css/pattern-lab.css
  packages/uikit-workshop/dist/styleguide/js/patternlab-viewer.js
  packages/uikit-workshop/dist/styleguide/js/pl-modal-viewer-chunk-28e3e937adece2e20a1d.js
  packages/uikit-workshop/src/sass/scss/04-components/_pattern-lineage.scss
  packages/uikit-workshop/src/scripts/components/modal-viewer.js
  packages/uikit-workshop/src/scripts/components/panels-viewer.js
Labels: bug :bug:, enhancement :sparkles:, hacktoberfest 🌾, uikit

#1076 WIP Netlify Preview
  netlify.toml
  package.json
  packages/development-edition-engine-handlebars/source/_patterns/atoms/swatches/swatch.hbs
  packages/development-edition-engine-handlebars/source/_patterns/atoms/swatches/swatch.json
  packages/development-edition-engine-handlebars/source/_patterns/atoms/swatches/swatch.md
  packages/development-edition-engine-handlebars/source/_patterns/atoms/swatches/swatch.scss
  packages/development-edition-engine-handlebars/source/_patterns/atoms/text/helper.hbs
  packages/development-edition-engine-handlebars/source/_patterns/atoms/type.md
  packages/development-edition-engine-handlebars/source/_patterns/atoms/type/annotation.hbs
  packages/development-edition-engine-handlebars/source/_patterns/molecules/variants.md
  packages/development-edition-engine-handlebars/source/_patterns/molecules/variants/swatches.hbs
  packages/development-edition-engine-handlebars/source/_patterns/molecules/variants/swatches.md
  packages/development-edition-engine-handlebars/source/fonts/.gitkeep
Labels: do not merge ⛔

#1054 fix(1049): Treat folders like patterns only if they're subfolders of …
  packages/core/src/lib/object_factory.js
  packages/core/test/object_factory_tests.js
  packages/uikit-workshop/dist/styleguide/js/patternlab-pattern.js
  packages/uikit-workshop/dist/styleguide/js/patternlab-viewer.js
  packages/uikit-workshop/dist/styleguide/js/pl-modal-viewer-chunk-7506fe4aa4d15996d2ad.js
  packages/uikit-workshop/dist/styleguide/js/pl-modal-viewer-chunk-ed8e352aad9ffe2ff692.js
  packages/uikit-workshop/dist/styleguide/js/pl-plugin-loader-chunk-4f1ccb7cc375a296d19f.js
  packages/uikit-workshop/dist/styleguide/js/pl-plugin-loader-chunk-c06d0d01bbade5b0b123.js
  packages/uikit-workshop/dist/styleguide/js/vendors-chunk-293d3e32578ff722034c.js
  packages/uikit-workshop/dist/styleguide/js/vendors-chunk-68c417591f725b5a10b5.js
  packages/uikit-workshop/src/scripts/components/panels-viewer.js
Labels: bug :bug:, enhancement :sparkles:, hacktoberfest 🌾

#1071 Monorepo Updates: Yarn, Lerna Fixed, Node v12, etc
  .gitignore
  .nvmrc
  .travis.yml
  lerna.json
  package.json
  packages/core/src/lib/plugin_manager.js
  packages/engine-nunjucks/package.json
  packages/uikit-workshop/.gitignore
  packages/uikit-workshop/dist/index.html
  packages/uikit-workshop/dist/styleguide/css/pattern-lab.css
  packages/uikit-workshop/dist/styleguide/images/pattern-lab-logo--on-dark.svg
  packages/uikit-workshop/dist/styleguide/images/pattern-lab-logo--on-light.svg
  packages/uikit-workshop/dist/styleguide/js/patternlab-pattern.js
  packages/uikit-workshop/dist/styleguide/js/patternlab-viewer.js
  packages/uikit-workshop/dist/styleguide/js/pl-plugin-loader-chunk-c06d0d01bbade5b0b123.js
  packages/uikit-workshop/package.json
  yarn.lock
Labels: hacktoberfest 🌾

#1083 Fix Handlebars Demo's defaultPattern + Minor UIKit Tweaks
  packages/development-edition-engine-handlebars/patternlab-config.json
  packages/uikit-workshop/src/sass/scss/04-components/_pattern.scss
  packages/uikit-workshop/src/scripts/components/pl-header/pl-header.scss
  packages/uikit-workshop/src/scripts/components/pl-logo/pl-logo.scss
Labels: bug :bug:, uikit

#1087 fix: publish auto-generated “dist” folder when publishing to NPM
  packages/uikit-workshop/package.json
Labels: bug :bug:, uikit

#601 Add pattern export all
  core/lib/pattern_exporter.js
  patternlab-config.json
Labels: pinned 📌
