Repository pattern-lab/patternlab-node, pull requests merged in 2020-05, with the labels that each got.

#1190 Add info on draft pull requests for work of longer duration
  .github/CONTRIBUTING.md
Labels: documentation :book:

#1187 Adding initial Github Actions setup
  .github/ISSUE_TEMPLATE.md
  .github/workflows/continuous-integration.yml
  README.md
  packages/cli/package.json
  packages/core/package.json
  packages/development-edition-engine-react/package.json
  packages/development-edition-engine-twig/package.json
  packages/edition-node-gulp/package.json
  packages/edition-node/package.json
  packages/edition-twig/package.json
  packages/engine-handlebars/package.json
  packages/engine-liquid/package.json
  packages/engine-mustache/package.json
  packages/engine-nunjucks/package.json
  packages/engine-react/package.json
  packages/engine-twig-php/package.json
  packages/engine-twig/package.json
  packages/engine-underscore/package.json
  packages/live-server/package.json
  packages/plugin-tab/package.json
  packages/uikit-workshop/.github/CONTRIBUTING.md
Labels: enhancement :sparkles:

#1167 Support for manual viewport size input & reintroduce resize key combinations
  packages/docs/src/docs/advanced-keyboard-shortcuts.md
  packages/uikit-workshop/src/icons/hay.svg
  packages/uikit-workshop/src/scripts/components/modal-styleguide.js
  packages/uikit-workshop/src/scripts/components/modal-viewer.js
  packages/uikit-workshop/src/scripts/components/pl-nav/pl-nav.js
  packages/uikit-workshop/src/scripts/components/pl-search/pl-search.js
  packages/uikit-workshop/src/scripts/lit-components/pl-header/pl-header.js
  packages/uikit-workshop/src/scripts/lit-components/pl-tools-menu/pl-tools-menu.js
  packages/uikit-workshop/src/scripts/lit-components/pl-viewport-size-list/pl-viewport-size-list.iframe-helper.js
  packages/uikit-workshop/src/scripts/lit-components/pl-viewport-size-list/pl-viewport-size-list.js
  packages/uikit-workshop/src/scripts/lit-components/pl-viewport-size/pl-viewport-size.js
  packages/uikit-workshop/src/scripts/lit-components/pl-viewport-size/pl-viewport-size.scss
  packages/uikit-workshop/src/scripts/lit-components/pl-viewport/pl-viewport.js
  packages/uikit-workshop/src/scripts/lit-components/pl-viewport/pl-viewport.scss
  packages/uikit-workshop/src/scripts/patternlab-pattern.modern.js
  packages/uikit-workshop/src/scripts/utils/iframe-msg-data-extraction.js
  packages/uikit-workshop/src/scripts/utils/index.js
Labels: enhancement :sparkles:, uikit

#1202 Fix broken "open in new tab" link in UIKit
  packages/uikit-workshop/src/scripts/lit-components/pl-viewport/pl-viewport.js
Labels: bug :bug:, uikit

#1175 fix(uikitworkshop): preventing cropping pattern parts #1174
  packages/uikit-workshop/src/sass/pattern-lab.scss
Labels: uikit

#1203 fix: update UIKit link pointing to Pattern Lab Docs
  packages/uikit-workshop/src/scripts/lit-components/pl-tools-menu/pl-tools-menu.js
Labels: bug :bug:, uikit

#1206 chore(build): update Twing dependency
  packages/development-edition-engine-twig/package.json
  packages/engine-twig/package.json
  yarn.lock
Labels: dependencies
