Repository pattern-lab/patternlab-node, pull requests merged in 2022-02, with the labels that each got.

#1420 refactor: updated node-fetch dependency
  packages/core/package.json
  yarn.lock
Labels: fix / refactor :construction:, dependencies

#1421 refactor: toggling visibility
  packages/uikit-workshop/src/scripts/lit-components/pl-drawer/pl-drawer.js
  packages/uikit-workshop/src/scripts/lit-components/pl-drawer/pl-drawer.scss
  packages/uikit-workshop/src/scripts/lit-components/pl-viewport/pl-viewport.js
  packages/uikit-workshop/src/scripts/lit-components/pl-viewport/pl-viewport.scss
Labels: fix / refactor :construction:, uikit

#1422 feat: remove sandbox attribute from iframe
  packages/uikit-workshop/src/scripts/lit-components/pl-viewport/pl-viewport.js
Labels: fix / refactor :construction:, uikit

#1426 fix: transformed asset types is ignored
  packages/core/src/lib/copier.js
Labels: fix / refactor :construction:, core
